<meta charset="utf-8">
<title>WangNaFei</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/lib/bootstrap.min.css', get_protocol()) }}">
<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/lib/font-awesome.min.css', get_protocol()) }}">
<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/lib/awe-booking-font.css', get_protocol()) }}">
<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/lib/owl.carousel.css', get_protocol()) }}">
<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/lib/jquery-ui.css', get_protocol()) }}">
<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/style.css', get_protocol()) }}">
<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/demo.css', get_protocol()) }}">
<link id="colorreplace" rel="stylesheet" type="text/css" href="{{ base_url('assets/css/colors/blue.css', get_protocol()) }}">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->

<link rel="stylesheet" type="text/css" href="{{ base_url('assets/autofillairports/airports.css', get_protocol()) }}" />
<script type="text/javascript" src="{{ base_url('assets/js/lib/jquery-1.11.2.min.js', get_protocol()) }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
