{% extends 'main.twig' %}

{% block body %}
<div>
    <form method="post" action="{{ base_url('auth/reset', get_protocol()) }}?key={{ key }}&email={{ email }}">
        <input type="hidden" name="{{ this.security.get_csrf_token_name() }}" value="{{ this.security.get_csrf_hash() }}" />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <h2>Set New Passsword</h2>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" >
					<span style="color:red;">{{ form_error('password')|raw  }}</span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordConfirmation">Password Confirmation</label>
                    <input type="password" name="password_confirmation" id="inputPasswordConfirmation" class="form-control" placeholder="Password Again" >
					<span style="color:red;">{{ form_error('password_confirmation')|raw }}</span>
                </div>

                <div class="text-right">
                    <input type="submit" value="Set Password" class="btn btn-primary">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <br />
    </form>
</div>

{%  endblock %}